<div class="annotation image">
	<div>
		<img class="img-thumbnail img-responsive lazy" data-original="<%= imgThumbnailIIIFUri %>"/>
	</div>

<!--  	<script>
		var $img = $("<img>").css("max-width", "100%").attr("src", "<%= partImgUri %>");
		var $imgDiv = $("<div>").append($img);
		var viewer = new OpenSeadragon({
	        id: $img,
	        prefixUrl: "/openseadragon/images/",
	        tileSources: "/path/to/my/image.dzi"
	    }).addHandler('open', function() {
			viewer.viewport.fitBounds(zoomLocation, true);
		});

		document.write($imgDiv.html());
		console.log($imgDiv);
	</script> -->
</div>